.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-right .logo {
    color: grey;
    font-weight: bold;
    font-size: 1.2rem;
}

.nav-left a {
    color: grey;
    margin-left: 20px;
    text-decoration: none;
    font-size: 0.95rem;
}

.nav-right a:hover {
    text-decoration: underline;
}

.app-header {
    padding: 10px 20px 20px;
}